.service-box{
    background-color: white;

    mat-slide-toggle {
        float: right;
        padding-top: 5px;
        padding-right: 5px;
    }
    img{
        width:100px;
        height: 100px;
        margin:10px;
        border-radius: 50%;
    }
    .service-name{
        background-color:rgba(4,35,59,10%) ;
        font-weight: 500;
        border-radius: 2px 2px 2px 2px;
        .bottom-box-1-2{
            background-color:rgba(4,35,59,30%);
            border-radius: 0px 0px 0px 2px;
            text-align: center;
            color: white;
            font-weight: 500;
            padding: 3px;
        }
        .bottom-box-2-2{
            background-color:rgba(4,35,59,30%);
            border-radius: 0px 0px 2px 0px;
            text-align: center;
            color: white;
            font-weight: 500;
            padding: 3px;
        }
        .bottom-box-2-3{
            background-color:rgba(240, 128, 128, .8);
            border-radius: 0px 0px 2px 0px;
            text-align: center;
            color: white;
            font-weight: 500;
            padding: 3px;
        }
    }
}
.btn-sucess{
    background-color: #3DB099!important;
    color: white;
}
.btn-cancel{
    background-color: #E35151!important;
    color: white;
}