<div class="row border m-2 h-100">
  <div class="col border p-0">
    <!-- col-header -->
    <div class="form-inline border px-2 pt-2 pb-2" style="background-color:#06475f;color:#fff;">
      <p class="pt-2 w-75" style="font-size:20px;">Modules</p>
      <div class="w-25" style="float:right;">
        <button mat-icon-button style="float:right;margin-right: 5px;" (click)="openAddModuleDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button style="float:right;margin-right: 5px;" mat-icon-button [matMenuTriggerFor]="filterMenu">
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #filterMenu="matMenu" style="align-items: center;">
          <button mat-menu-item>
            <mat-icon>calendar_month</mat-icon><span>By Date</span>
          </button>
          <button mat-menu-item><mat-icon>watch_later</mat-icon><span>By Time</span></button>
          <button mat-menu-item><mat-icon>toggle_on</mat-icon><span>All Enabled</span></button>
          <button mat-menu-item><mat-icon>toggle_off</mat-icon><span>All Disabled</span></button>
        </mat-menu>
      </div>
    </div>
    <div style="height:550px;overflow: auto;">
      <div class="form-inline border m-2" *ngFor="let item of serviceModuleList"
        style="background-color:#fff ;border-color: black;border-radius: 10px;">
        <div class="w-75 form-inline" (click)="openServices(item)">
          <img class="mx-2 mt-1 mb-1 border" src="{{item.image}}"
            style="border-radius: 10%;width:50px;height:50px;">
          <h2 class="pt-4 text-center" style="font-size: 15px;font-weight: 400;">{{item.name}}</h2>
        </div>
        <div class="w-25" style="float: right;">

          <button style="float: right;" mat-icon-button [matMenuTriggerFor]="fileMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #fileMenu="matMenu" style="align-items: center;">
            <button mat-menu-item>
              <mat-slide-toggle></mat-slide-toggle>
              <span>  Enable/Disable</span>
            </button>
            <button mat-menu-item><mat-icon>edit</mat-icon><span>Edit</span></button>
            <button mat-menu-item><mat-icon>delete</mat-icon><span>Delete</span></button>
          </mat-menu>
        </div>

      </div>
    </div>
  </div>
  <div class="col border p-0">
    <div class="form-inline border px-2 pt-2 pb-2" style="background-color:#06475f;color:#fff;">
      <p class="pt-2 w-75" style="font-size:20px;">Services</p>
      <div class="w-25" style="float:right;">
        <button mat-icon-button style="float:right;margin-right: 5px;" (click)="openAddServiceDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button style="float:right;margin-right: 5px;" mat-icon-button [matMenuTriggerFor]="filterMenu">
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #filterMenu="matMenu" style="align-items: center;">
          <button mat-menu-item>
            <mat-icon>calendar_month</mat-icon><span>By Date</span>
          </button>
          <button mat-menu-item><mat-icon>watch_later</mat-icon><span>By Time</span></button>
          <button mat-menu-item><mat-icon>toggle_on</mat-icon><span>All Enabled</span></button>
          <button mat-menu-item><mat-icon>toggle_off</mat-icon><span>All Disabled</span></button>
        </mat-menu>
      </div>
    </div>
    <div style="height:550px;overflow: auto;">
      <div class="form-inline border m-2" *ngFor="let item of serviceList"
        style="background-color:#fff ;border-color: black;border-radius: 10px;">
        <div class="w-75 form-inline">
          <img class="mx-2 mt-1 mb-1 border" src="{{item.image}}"
            style="border-radius: 10%;width:50px;height:50px;">
          <h2 class="pt-4 text-center" style="font-size: 15px;font-weight: 400;">{{item.name}}</h2>
        </div>
        <div class="w-25" style="float: right;">

          <button style="float: right;" mat-icon-button [matMenuTriggerFor]="fileMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #fileMenu="matMenu" style="align-items: center;">
            <button mat-menu-item>
              <mat-slide-toggle></mat-slide-toggle>
              <span>  Enable/Disable</span>
              
            </button>
            <button mat-menu-item><mat-icon>edit</mat-icon><span>Edit</span></button>
            <button mat-menu-item><mat-icon>delete</mat-icon><span>Delete</span></button>
          </mat-menu>
        </div>

      </div>
    </div>
  </div>
</div>