<div class="row">
  
  <button mat-raised-button>Banking
  </button>
  <button mat-raised-button>Teaching</button>
  <button mat-raised-button>Engineering</button>
  <button mat-raised-button>Railway</button>
  <button mat-raised-button>Defence</button>
  <button mat-raised-button class="y1">Fetch Jobs</button>

</div>

<div class="row" style="background-color:#e6e6e6; width:875px;height:250px">
  <div class="col h-100" style="background-color: whitesmoke;border:1px solid black ;margin:2px">
    <div class="l1"><h2>Asst. General Manager,Asst Manager & Others-27Posts</h2>
    <h6>RRc Guwahati</h6>
  </div>
    <div class="r1" style="background-color:#d9d9d9">
    <div class="l2" ><h5>Post date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last Date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notification link</h5></div>
    <div class="l3" ><h5>09/08/2021&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19/01/2020 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; link</h5></div>
  </div>
  </div>
  <div class="col h-100" style="background-color:#e6e6e6;border:1px solid black ;margin:2px;width:200px;height:200px">
    <div class="l1"><h2>Asst. General Manager,Asst Manager & Others-27Posts</h2>
    <h6>RRc Guwahati</h6>
  </div>
    <div class="r1" style="background-color:#d9d9d9">
    <div class="l2" ><h5>Post date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last Date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notification </h5></div>
    <div class="l3" ><h5>09/08/2021&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19/01/2020 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; link</h5></div>
  </div>
  </div>
  
  
  <div class="col h-100" style="background-color: whitesmoke;border:1px solid black ;margin:2px">
    <div class="l1"><h2>Asst. General Manager,Asst Manager & Others-27Posts</h2>
    <h6>RRc Guwahati</h6>
  </div>
    <div class="r1" style="background-color:#d9d9d9">
    <div class="l2" ><h5>Post date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last Date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notification </h5></div>
    <div class="l3" ><h5>09/08/2021&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19/01/2020 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; link</h5></div>
   
  </div>
  <div class="row6" style="width:50px">
    <table width="20%">
      <tr>
        <td width="10%" ><button class="button1">Edit</button></td>
        <td><button class="button2">Edit</button></td>
      </tr>
    </table>
  </div>

  
  </div>
 
    
  <div class="row" style="background-color:#e6e6e6; margin:10px; width:900px;height:300px">
    <div class="col h-100" style="background-color: whitesmoke;border:1px solid black ;margin:2px;">
      <div class="l1"><h2>Asst. General Manager,Asst Manager & Others-27Posts</h2>
      <h6>RRc Guwahati</h6></div>
      <div class="r1" style="background-color:#d9d9d9">
      <div class="l2" ><h5>Post date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last Date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notification </h5></div>
      <div class="l3" ><h5>09/08/2021&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19/01/2020 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; link</h5></div>
    </div>
    </div>
    <div class="col h-100" style="border:1px solid black ;margin:2px;width:250px;height:200px">
     <div class="b1">
       <label>Post Name</label><br>
       <input type="text"><br>
       <label>Post Board</label><br>
       <input type="text"><br>
       <label>Qualification</label><br>
       <input type="text"><br>
      <div class="row4">
        <label>Post Date</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Last Date</label>
      </div>
      <div class="row6" style="width:50px">
        <table width="20%">
          <tr>
            <td width="10%" ><input type="text" size="10"></td>
            <td><input type="text" size="10"></td>
          </tr>
        </table>
      </div>
    
     
     
     </div>
    </div>
  
    <div class="col h-100" style="background-color: whitesmoke;border:1px solid black ;margin:2px;width:500px">
      <div class="l1"><h2>Asst. General Manager,Asst Manager & Others-27Posts</h2>
      <h6>RRc Guwahati</h6></div>
      <div class="r1" style="background-color:#d9d9d9">
      <div class="l2" ><h5>Post date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last Date &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notification link</h5></div>
      <div class="l3" ><h5>09/08/2021&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19/01/2020 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; link</h5></div>
    </div>
    <div class="row6" style="width:50px">
      <table width="20%">
        <tr >
          <td width="10%" ><button class="button1">Edit</button></td>
          <td><button class="button2">Edit</button></td>
        </tr>
      </table>
    </div>
  
    </div>
    
      </div>  
  </div>




