button{
    top:0.1px;
    margin-right: 5rem;

}
.y1{
    background-color: blue;
}
.col{
    margin-right: 8px;
    font-size : 1 rem;
}
.p1
{
    padding:16px;
}
.p1>mat-card{
    width:250px;
}
.button1{
    background-color: #ff3333
    ;
    width:100px;

}
.button2{
    background-color:  #00cc99
    ;
    width:100px;
    
}