<div>
  
  <button mat-raised-button>Banking
  </button>
  <button mat-raised-button>Teaching</button>
  <button mat-raised-button>Engineering</button>
  <button mat-raised-button>Railway</button>
  <button mat-raised-button>Defence</button>
  <button mat-raised-button class="y1">Fetch Jobs</button>


  
  
</div>
<div>
 <frameset cols=10%,10%,10%>
     <frame src="../../../../assets/p1.html"></frame>
    <frame src="../../../../assets/p2.html"></frame>
    <frame src="../../../../assets/p3.html"></frame>
  </frameset>

  

</div>
