<div class="form-inline w-100">
  <div class="col">
    <mat-chip-list [selectable]="true">
      <mat-chip class="border shadow" (click)="bankChipsClicked()">
        <mat-chip-avatar>
          {{this.bankjobsList.length}}
        </mat-chip-avatar>
        Bank Jobs
      </mat-chip>
      <mat-chip class="border shadow" (click)="engineeringChipsClicked()">
        <mat-chip-avatar>
          {{this.engineeringjobsList.length}}
        </mat-chip-avatar>
        Engineering Jobs
      </mat-chip>
      <mat-chip class="border shadow" (click)="defenceChipsClicked()">
        <mat-chip-avatar>
          {{this.defencejobsList.length}}
        </mat-chip-avatar>
        Defence Jobs
      </mat-chip>
      <mat-chip class="border shadow" (click)="railwayChipsClicked()">
        <mat-chip-avatar>
          {{this.railwayjobsList.length}}
        </mat-chip-avatar>
        Railway Jobs
      </mat-chip>
      <mat-chip class="border shadow" (click)="teachingChipsClicked()">
        <mat-chip-avatar>
          {{this.teachingjobsList.length}}
        </mat-chip-avatar>
        Teaching Jobs
      </mat-chip>
    </mat-chip-list>
  </div>


  <div class="col-sm-3 text-right">
    <button mat-raised-button class="y1" (click)="fetchJobs()">Fetch Jobs</button>
  </div>

</div>



<div class="form-inline mt-5">
  <div class="col-sm-4 custm-col">
    <div class="row box-1" *ngFor='let item of joblist; let i=index;'
      (click)="formItem==''?sendDataToForm(item):revertFormData();sendDataToForm(item)">
      <div class="w-100" *ngIf="item.type.trim()!=''">
        <div class="type w-25 p-1">{{item.type.trim()}}</div>
      </div>
      
      <div class="form-inline p-2 w-100">
        <img src="../../../../assets/skit_jobs.png">
        <h1 class="mx-2 t1 w-75 ">{{item.postName.trim()}}</h1>
      </div>
      <div class="w-100">
        <h2 class=" t2">{{item.postBoard.trim()}}</h2>
        <h2 class=" t3">{{item.qualification.trim()}}</h2>
      </div>
      <div class="form-inline bottom-box w-100">
        <div class="col">
          <p class="bt-heading1">Post Date</p>
          <p class="bt-heading2">{{item.postDate.trim()}}</p>
        </div>
        <div class="col">
          <p class="bt-heading1">Last Date</p>
          <p class="bt-heading2">{{item.lastDate.trim()}}</p>
        </div>
        <div class="col">
          <p class="bt-heading1">Notification Link</p>
          <p class="bt-heading2"><a href="{{item.link.trim()}}" target="_blank"> Click Here</a></p>
        </div>
      </div>
    </div>

    <div class="text-center" style="margin-top:25% ; margin-bottom: auto;" *ngIf="joblist.length==0">
      <img src="../../../../assets/job.png" style="height:200px;">
      <h3><i>Once the jobslist will be available, it will be shown here...</i></h3>
    </div>
  </div>
  <div class="col-sm-4 custm-col">
    <div class="row box-2">
      <div class="w-100" *ngIf="m_type.trim()!=''">
        <div class="type w-25 p-1">{{m_type.trim()}}</div>
      </div>
      <div class="form-inline px-2 py-1 w-100">
        <img src="../../../../assets/skit_jobs.png">
        <h1 class="mx-2 t1 w-75">{{m_postName.trim()}}</h1>
      </div>
      <div class="w-100">
        <h2 class=" t2">{{m_postBoard.trim()}}</h2>
        <h2 class=" t3">{{m_qualifications.trim()}}</h2>
      </div>
      <div class="form-inline bottom-box w-100">
        <div class="col" *ngIf="m_postDate.trim()">
          <p class="bt-heading1">Post Date</p>
          <p class="bt-heading2">{{m_postDate.trim()}}</p>
        </div>
        <div class="col" *ngIf="m_lastDate!=''">
          <p class="bt-heading1">Last Date</p>
          <p class="bt-heading2">{{m_lastDate.trim()}}</p>
        </div>
        <div class="col" *ngIf="m_link!=''">
          <p class="bt-heading1">Notification Link</p>
          <p class="bt-heading2"><a href="{{m_link.trim()}}" target="_blank">Click Here</a></p>
        </div>
      </div>
    </div>
    <div>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Post Name</mat-label>
        <input matInput type="text" [(ngModel)]="m_postName">
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Board Name</mat-label>
        <input matInput type="text" [(ngModel)]="m_postBoard">
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Qualifications</mat-label>
        <input matInput type="text" [(ngModel)]="m_qualifications">
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Link</mat-label>
        <input matInput type="text" [(ngModel)]="m_link">
      </mat-form-field>

      <div class="row px-3">

        <mat-form-field class="w-50" appearance="fill">
          <mat-label>Post Date</mat-label>
          <input matInput type="text" [(ngModel)]="m_postDate">
        </mat-form-field>

        <mat-form-field class="w-50" appearance="fill">
          <mat-label>Last Date</mat-label>
          <input matInput type="text" [(ngModel)]="m_lastDate">
        </mat-form-field>
      </div>
      <button mat-raised-button class="btn-cancel" (click)="revertFormData()">Cancel</button>
      <button mat-raised-button class="btn-sucess" (click)="submitJob()">Submit</button>
    </div>
  </div>
  <div class="col-sm-4 custm-col">
    <div class="row box-3" *ngFor='let item of finalJobList;'>
      <div class="w-100" >
        <div class="type w-25 p-1">{{item.category}}</div>
      </div>
      <div class="form-inline p-2 w-100">
        <img src="../../../../assets/skit_jobs.png">
        <h1 class="mx-2 t1 w-75">{{item.postName.trim()}}</h1>
      </div>
      <div class="w-100">
        <h2 class=" t2">{{item.boardName.trim()}}</h2>
        <h2 class=" t3">{{item.qualifications.trim()}}</h2>
      </div>
      <div class="form-inline bottom-box w-100">
        <div class="col">
          <p class="bt-heading1">Post Date
            <span class="bt-heading2">{{item.postDate.trim()}}</span>
          </p>
        </div>
        <div class="col">
          <p class="bt-heading1">Last Date <span class="bt-heading2">{{item.lastDate.trim()}}</span></p>

        </div>
        <div class="col">
          <p class="bt-heading1">Notification Link <span class="bt-heading2"> <a href="{{item.link.trim()}}" target="_blank">Click Here</a></span></p>

        </div>
      </div>
      <div class="form-inline w-100">
        <div class="w-50 bottom-box-1-2" (click)="editJob(item)">
          Edit
        </div>
        <div class="w-50 bottom-box-2-2" *ngIf="item.status=='draft'"(click)="publishJob(item)">
          Publish
        </div>
        <div class="w-50 bottom-box-2-2" style="background-color:lightblue;" *ngIf="item.status=='published'" (click)="unPublishJob(item)">
          UnPublish
        </div>
      </div>
    </div>

  </div>
</div>